.top-bar{
background-color: white;
  width: 100%;
  height: 26.5%;
  border-bottom: 1px solid #d8dbe1;
}
.center-input{
  top: 10%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}
.center-button{
  top: 20%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.cities{
  display: flex;
  min-width: 100px;
  top: 60%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #d8dbe1;
  border-radius: 20px;
}

.city{
  padding:50px;
  margin: 10px;
  border: 1px solid #d8dbe1;
  border-radius: 5px;
  background-color: #d8dbe1;

}
.cities-city{
min-width: 120px;

}

