/*TOP BAR*/
.weathericon{
  margin-top: 0.5%;
  height: 50px;
}
.top-bar{
background-color: white;
  width: 100%;
  height: 26.5%;
  border-bottom: 2px solid #d8dbe1;

  z-index: 1;

}
.center-input{

text-align: center;
  align-items: center;
  margin-top: 0.1%;
}
.center-button{
  margin-bottom: 1%;
  text-align: center;
  align-items: center;
}
.buttoon{
  height:40px;
  margin:10px;
}

/*CONTENT*/

.cities{
margin-top: 10px;
  overflow-y: auto;
  display: flex;
  min-width: 100px;
  max-width: 100%;
  text-align: center;
  vertical-align: center;
  align-items: center;

  border: 1px solid #d8dbe1;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.city{
  padding:20px;
  margin: 10px;
  border: 1px solid #d8dbe1;
  border-radius: 50px;
  background-color: white;


}
.cities-city {
  min-width: 120px;
margin:10px;
  text-align: center;
;
}



.images{
  max-height: 30px;
  max-width: 30px;
  text-align: center;
  vertical-align: middle;


}




